<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-401OUEF\SQLEXPRESS;Initial Catalog=EmployeeDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;"/>
  </connectionStrings>
  <appSettings>
    <add key="ExportFolderPath" value="..\..\..\..\TaskAssignment2\Export\"/>
  </appSettings>
</configuration>